<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="share-view"
    data-init="app.viewModels.addArtifact.init" data-show="app.viewModels.addArtifact.show" data-model="app.viewModels.addArtifact">
    <header data-role="header">
        <div data-role="navbar">
            Artifact
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button add" data-align="right" data-role="button" data-bind="click: saveArtifact">Add Artifact</a>
        </div>
    </header>
    <div class="user-info">
        <h2 >Add Artifact</h2>
    </div>
    <div id="enterTitle" class="share-form-wrp">
        <div class="user-share">
            <textarea id="newTitle" placeholder="Enter Title" required validationMessage="Title is required!"></textarea>
            <div id="newTitleValidation" class="validation">Title is required!</div>
        </div>
    </div>
    <div id="enterDesc" class="share-form-wrp">
        <div class="user-share">
            <textarea id="newDesc" placeholder="Enter Description" required validationMessage="Description is required!"></textarea>
            <div id="newDescValidation" class="validation">Description is required!</div>
        </div>
    </div>
    <div id="enterTag" class="share-form-wrp">
        <div class="user-share">
            <textarea id="newTag" placeholder="Enter Tag" required validationMessage="Tag is required!"></textarea>
            <div id="newTagValidation" class="validation">Tag is required!</div>
        </div>    
    </div>
</div>