<div data-role="view" id="share" data-layout="default" data-transition="overlay:down" class="share-view" data-model="app.viewModels.exhibit" 
     data-show="app.viewModels.exhibit.show" >
    <header data-role="header">
        <div data-role="navbar">
            Exhibit
            <a class="nav-button" data-align="left" data-role="backbutton">Cancel</a>
            <a class="nav-button" data-align="right" data-role="button" data-bind="click: saveExhibit">Save Changes</a>
        </div>
    </header>
    <div id="enterTitle" class="share-form-wrp">
        <div class="user-share">
            <textarea id="newTitle" placeholder="Enter Title" required validationMessage="Title is required!">${Title}</textarea>
            <div id="newTitleValidation" class="validation">Title is required!</div>
        </div>
    </div>
    <div id="enterDesc" class="share-form-wrp">
        <div class="user-share">
            <textarea id="newDesc" placeholder="Enter Description" required validationMessage="Description is required!">${Description}</textarea>
            <div id="newDescValidation" class="validation">Description is required!</div>
        </div>
    </div>
    <div id="enterTag" class="share-form-wrp">
        <div class="user-share">
            <textarea id="newTag" placeholder="Enter Tag" required validationMessage="Tag is required!">${Tag}</textarea>
            <div id="newTagValidation" class="validation">Tag is required!</div>
        </div>    
    </div>
</div>